@page
@model IndexModel
@using CowboyCafe.Data;

@{
    ViewData["Title"] = "Home page";
}

    <form >
        <div class="text-center">
            <div class="container">
                <div class="row d-sm-flex">
                    <div class="col-sm" id="filters">
                        <h4>Price</h4>
                        <div>
                            Between
                            <input name="PriceMin" type="number" min="0" max="10" step="0.01" placeholder="min" value="@Model.PriceMin" />
                            and
                            <input name="PriceMax" type="number" min="0" max="10" step="0.01" placeholder="max" value="@Model.PriceMax" />
                        </div>
                    </div>

                    <div class="col-sm" id="filters">
                        <h4>Calories</h4>
                        <div>
                            Between
                            <input name="CaloriesMin" type="number" min="0" max="1000" step="1" placeholder="min" value="@Model.CaloriesMin" />
                            and
                            <input name="CaloriesMax" type="number" min="0" max="1000" step="1" placeholder="max" value="@Model.CaloriesMax" />
                        </div>
                    </div>
                    <div class="col-sm" id="filters">
                        <h4>Category</h4>
                        @foreach (String category in Menu.Categories)
                        {
                            <label>
                                <input type="checkbox" name="Categories" value="@category" checked="@Model.Categories.Contains(category)" />
                                @category
                            </label>
                        }
                    </div>
                    <div class="col-sm" id="filters">
                        <h4>Search</h4>
                        <div id="search">
                            <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
                            <input type="submit" value="search" />
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="text-center">
                        <div class="dropdown-divider"></div>
                        <h1 class="display-4">Cowyboy Cafe</h1>
                        <p>
                            We at Cowboy Cafe are proud to bring you authentic trail meals from the American West.
                            Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas.
                            Dip your Pan de Campo into a bowl of beans.
                            Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take it easy with us.
                        </p>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>

                <div class="row">
                        @foreach (IOrderItem item in Model.itemList)
                        {
                            <div class="col-sm-4">
                                @if (item is Entree entree)
                                {
                                    <h4>@entree.ToString() (Entree)</h4>
                                    <div><u><b>Price:</b></u> @String.Format("{0:C}", entree.Price)</div>
                                    <div><u><b>Calories:</b></u> @entree.Calories</div>
                                    <div class="dropdown-divider"></div>
                                }
                                else if (item is Side side)
                                {
                                    side.Size = Size.Small;
                                    <h4>@side.Name() (Side)</h4>
                                    <b><u>Prices:</u></b>
                                    <div>
                                        Small: @String.Format("{0:C}", side.Price) @{side.Size = Size.Medium; }
                                        Medium: @String.Format("{0:C}", side.Price) @{side.Size = Size.Large; }
                                        Large: @String.Format("{0:C}", side.Price)
                                    </div>

                                    <b><u>Calories:</u></b>
                                    <div>
                                        Small: @{side.Size = Size.Small;}@side.Calories @{side.Size = Size.Medium; }
                                        Medium: @side.Calories @{ side.Size = Size.Large; }
                                        Large: @side.Calories
                                    </div>
                                    <div class="dropdown-divider"></div>
                                }
                                else if (item is Drink drink)
                                {
                                    <h4>@drink.Name() (Drink)</h4>
                                    drink.Size = Size.Small;
                                    if (drink is Water water)
                                    {
                                        <div><u><b>Price:</b></u> @String.Format("{0:C}", water.Price)</div>
                                        <div><u><b>Calories:</b></u> @water.Calories</div>
                                    }

                                    else
                                    {
                                        <b><u>Prices:</u></b>
                                        <div>
                                            Small: @String.Format("{0:C}", drink.Price) @{drink.Size = Size.Medium; }
                                            Medium: @String.Format("{0:C}", drink.Price) @{drink.Size = Size.Large; }
                                            Large: @String.Format("{0:C}", drink.Price)
                                        </div>

                                        <b><u>Calories:</u></b>
                                        <div>
                                            Small: @{drink.Size = Size.Small;}@drink.Calories @{drink.Size = Size.Medium; }
                                            Medium: @drink.Calories @{drink.Size = Size.Large; }
                                            Large: @drink.Calories
                                        </div>
                                    }
                                    @if (drink is JerkedSoda soda)
                                    {

                                        <b><u>Flavors:</u></b>
                                        <div>Birch Beer | Root Beer | Cream Soda </div>
                                        <div> Orange Soda | Sasparilla</div>

                                    }
                                    <div class="dropdown-divider"></div>
                                }
                            </div>
                        }
                </div>
            </div>

        </div>
        </form>
